body {
    margin: 20px;
    padding: 20px;
}

div {    
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4em;
}

div p {
    color: gray;
    font-family: 'Vollkorn SC', serif;
}

#first {
    text-indent: 20px;
    font-family: 'Cabin';
    font-size: 2em;
}